language: python

cache: pip

matrix:
  fast_finish: true
  include:
#    - python: 2.6
    - python: 2.7
#    - python: 3.2
#    - python: 3.3
#    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true

env:
  global:
  - GH_REF: git@github.com:smarie/python-autoclass.git

before_install:
  # (a) linux dependencies
  - sudo apt-get install pandoc
  - sudo apt-get install ant
  - sudo apt-get install ant-optional

install:
  - pip list
  # needs to be installed beforehand
  - pip install setuptools_scm
  - python ci_tools/py_install.py pip ci_tools/requirements-pip.txt
  - |
    if [ "${TRAVIS_PYTHON_VERSION}" = "2.7" ]; then
      echo "No need to install enforce pytypes"
    else
      pip install enforce
      pip install pytypes
    fi
  # travis-specific installs
  - pip install PyGithub  # for ci_tools/github_release.py
  - pip install codecov  # See https://github.com/codecov/example-python.
  - pip list

script:
#  - coverage run tests.py
  - pip install .
  - python -c "import os; os.chdir('..'); import autoclass"
# ***tests***
#  - coverage run tests.py
#  - pytest --junitxml=reports/junit/junit.xml --html=reports/junit/report.html --cov-report term-missing --cov=./autoclass -v autoclass/tests/
# now done in a dedicated script to capture exit code 1 and transform it to 0
  - chmod a+x ./ci_tools/run_tests.sh
  - sh ./ci_tools/run_tests.sh
  - python ci_tools/generate-junit-badge.py 100  # generates the badge for the test results and fail build if less than x%

after_success:
# ***reporting***
#  - junit2html junit.xml testrun.html  output is really not nice
  - ant -f ci_tools/generate-junit-html.xml  # generates the html for the test results. Actually we dont use it anymore
  - codecov
#  - pylint autoclass  # note that at the moment the report is simply lost, we dont transform the result into anything
# ***documentation***
  - mkdocs build -f docs/mkdocs.yml
  - mv reports/junit docs/  # not in site/ anymore so that we do not need to use --dirty (it breaks client-side search)
  # mkdocs gh-deploy requires special care :
  # ---grant the possibility to push on the repo---
  - openssl aes-256-cbc -K $encrypted_a1c855bcf509_key -iv $encrypted_a1c855bcf509_iv -in ci_tools/github_travis_rsa.enc -out ci_tools/github_travis_rsa -d
  # If the output file does not exist, that is because the secret is invalid. This can happen in forked repos so do not fail the build
  - |
    if [ -s "ci_tools/github_travis_rsa" ]; then
      chmod 600 ci_tools/github_travis_rsa
      eval `ssh-agent -s`  # launch the authentication agent
      ssh-add ci_tools/github_travis_rsa  # register the decrypted key
      git config user.name "Automatic Publish"
      git config user.email "sylvain.marie@schneider-electric.com"
      git remote add gh-remote "${GH_REF}";
      git fetch gh-remote && git fetch gh-remote gh-pages:gh-pages;  # make sure we have the latest gh-remote
      # push but only if this is not a build triggered by a pull request
      # note: do not use the --dirty flag as it breaks client-side search
      if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_PYTHON_VERSION}" = "3.5" ]; then echo "Pushing to github"; PYTHONPATH=autoclass/ mkdocs gh-deploy -v -f docs/mkdocs.yml --remote-name gh-remote; git push gh-remote gh-pages; fi;
    else
      echo "File 'ci_tools/github_travis_rsa' has not been created, please check your encrypted repo token in .travis.yml, on the line starting with 'openssl aes-256-cbc...'"
    fi

deploy:
  # Deploy on PyPI on tags
  - provider: pypi
    user: "smarie"
    password:
      secure: "rhZ0DDTlGeRiXeotIFr2VvC9NaoobbmNEXY6c9sRYu60Ctn8kBWVUIqVXUYrlRLeGNlHb/oFdXxEDNsZrZdvWEW92ulaCWmzsqbjBxouSsz6TFkHD0sqHkbxx6j0um9OcTh5qUKjTKM6epdem6XSVdT+PRPNjaGTJAZSuihMxmI1OFntk2OEwLW34ZWH6/H5wEChDTU3BlfaoaklU0c+fCYGUx46+M0toqbElLtwx0lpu6ARXfptLUxGT+h/VLIvB7lULwKTCoAoUflVzFKZ2DxGpi7c6Er6CHO/9DBdJna7K76VfN/G+dg/Ddos1NtPoRX9vkLelLlYYa/4YGav6D0BNC7n0t42FSzIsGCxexYEJTvk1ZyZXiqdp/4eoGbvXUfrnotKovN0LQuiqqI5qsh3NH1qdNjyQOrms6QpWQSXQvnIkRM9hnArCZJ04GuhL3fdGhSnAWhV9XIO3vqiILNxNOQliVzFfdQKfTemI08fTLAJ5V8ZRtwRKQqV60WZ37kyqkka6/hYMR/8ysUz2xPNLJ53d+pAEXsn/6n43M+GTaJ+8a81cFT6rsGANH2BN3mXxP9AOJZMyqDAoMp9hdDuNmRevxp1qrwTNzl7RXwTcKNWua+Srhkr3VSWI7PwWYsnZ2/FSoI3MMUuDFyTD3s4plu4/0gsdwlJPSuAEmw="
    on:
      tags: true
      python: 3.5  #only one of the builds have to be deployed
      # condition: $PYTEST_VERSION = "<3"
    # server: https://test.pypi.org/legacy/
    distributions: "sdist bdist_wheel"

  # Create a github release on tags
  - provider: script
    script: python ci_tools/github_release.py -s $GITHUB_TOKEN --repo-slug smarie/python-autoclass -cf ./docs/changelog.md -d https://smarie.github.io/python-autoclass/changelog/ $TRAVIS_TAG
    skip_cleanup: true
    on:
      tags: true
      python: 3.5  #only one of the builds have to be deployed
      # condition: $PYTEST_VERSION = "<3"

notifications:
  email:
    on_success: never  # options: [always|never|change] default: always
